<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HitChain Foundation">
    <meta name="author" content="Tyler Chen, and HitChain contributors">

    <meta name="docsearch:language" content="en">
    <meta name="docsearch:version" content="4.3">

    <title>HitChain, the best git hosting solution in the world. </title>

    <link rel="canonical" href="https://www.hitchain.org/">

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="./static/site/site.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="./static/site/hitchain-logon.png" sizes="142x142" type="image/png">
    <link rel="icon" href="./static/site/hitchain-logon.png" sizes="142x142" type="image/png">
    <link rel="icon" href="./static/site/favicon.ico">
    <meta name="theme-color" content="#563d7c">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Hit_Chain">
    <meta name="twitter:creator" content="@Hit_Chain">
    <meta name="twitter:title" content="HitChain">
    <meta name="twitter:description" content="The best git hosting solution in the world.">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1024985004277936128/QLOlboHY_400x400.jpg">

    <!-- Facebook -->
</head>